@import "~bootstrap/scss/bootstrap";
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes zoom-in-zoom-out {
    0% {
    transform: scale(1, 1);
    }
    100% {
    transform: scale(1.5, 1.5);
    }
}
*{
    margin: 0;
    padding: 0;
}
body,html,#root {
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .point{
        width: 100%;
        h3{
            text-align: center;
            font-size: 28px;
            padding: 10px;
        }
    }
    .gameover{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.box-container{
    height: 500px;
    width: 500px;
    margin: 50px auto;
    position: relative;
    border: 1px solid;
    overflow: hidden;
    border-radius: 6px;
    background: url(./background/spaceImg.jpg) center no-repeat;

    .box-spaceship{
        position: absolute;
        width: 50px;
        overflow: hidden;
        img{
            width:  100%;
            display: block;
        }
    }
    .box-bullet{
        position: absolute;
        width: 20px;
        overflow: hidden;
        z-index: 100;
        img{
            width:  100%;
            display: block;
        }
    }
    .box-meteorite{
        position: absolute;
        width: 30px;
        overflow: hidden;
        z-index: 100;
        img{
            width:  100%;
            display: block;
            -webkit-animation:spin 4s linear infinite;
            -moz-animation:spin 4s linear infinite;
            animation:spin 4s linear infinite;
        }
    }
    .box-explosion{
        position: absolute;
        width: 30px;
        overflow: hidden;
        z-index: 100;
        img{
            width:  100%;
            display: block;
            -webkit-animation:zoom-in-zoom-out 0.5s infinite;
            -moz-animation:zoom-in-zoom-out 0.5s infinite;
            animation:zoom-in-zoom-out 0.5s infinite;

        }
    }
}
